<h1>Welcome to TransForm Idaho's</h1>
  <h2>campaign contributions database</h2>

<p> TransFrom Idaho welcomes the reader to learn about the donations
received by candidates and elected officials in Idaho.  Where does the
money come from? And how much? Is the money from the people who vote
for the candidates? Or does the money come from corporations and
Political Action Committees?  These are the questions you can
answer in this web site.
</p>

<p>
Use the database in this website to learn which candidates and elected
officials received the most money from their constituents in their
districts, business and Political Action Committees.  Questions about
which companies and Political Action Committees are donating the most
money to our elected officials can be answered in this site.
</p>

<p>
    Disclaimer:<br/>  The information contained in this database is
    obtained from the Idaho Secretary of State website, <a
    href="http://www.sos.idaho.gov">www.sos.idaho.gov</a>.  The
    Secretary of State&rsquo;s office inputs the information from the
    campaign finance reports from each candidate into their
    database. The technical team of volunteers at TransFrom Idaho
    imports the same information and developed a database that will
    allow an easy anaylsis of the information by a citizen investigator.

</p>
<p>Click on these links to start your investigation:</p>
  <ul>
   <li><a href="candidates">List the candidates with a summary of
contributions they recieved</a></li>
   <li><a href="contributors">List the the contributors</a></li>
   <li><a href="contributions">Show all the contributions made to candidates</a></li>
  </ul>

<h3> Other Resources</h3>
    <p>
    To learn more about campaign finance contributions nationwide,
    link to <a
    href="http://www.followthemoney.org">www.followthemoney.org</a>.
    </p>
    <p>
    Voting records for eleted officials can be found on several sites:
    </p>
    <ul>
     <li><a href="http://www.votesmart.org">www.votesmart.org</a> is
    one that collects and reports information nationwide.</li>
    <li>Voting records for Idaho elected officials can be found by
    searching the bills on <a href="http://www.legislature.idaho.gov">
    www.legislature.idaho.gov</a>.</li>
    <li> Other sources are:
    <ul>
    <li><a href="http://www.idahovotes.org">
           www.idahovotes.org</a>,</li>
    <li><a href="http://myfreedomfoundation.com/">The Freedom
    Foundation website</a> (<a href="http://myfreedomfoundation.com/">
    myfreedomfoundation.com</a>), and </li>
    <li><a href="http://www.ballotpedia.org">
    www.ballotpedia.org</a>, another nationwide website. </li>
    </ul></li>
    </ul>
