// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#search {
    float:right;
    padding: 0.4em 0.6em;
    width: 30em;
    margin-bottom: 0.3em;
    text-align: left; 
}
div#search {
    float:right;
    padding: 0.4em 0.6em;
    width: 30em;
    margin-bottom: 0.3em;
    text-align: right; 
}


#contributionInfo {
  padding: 2ex;
  position: absolute;
  border: 2px double grey;
  background: wheat;
}

table#candidates {
  clear : both;
}

table#candidates th.hilite {
  background-color: yellow;
}
