// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#total_contribution {
    //background: #2e6ab1;
    //color: white;
    float:left;
    padding: 0.4em 0.6em;
    width: 20em;
    margin-bottom: 0.3em;
    text-align: left; 
}
